$mdc-theme-primary: #82100f;

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/elevation/mdc-elevation";

body {
  font-family: 'noto sans', 'open sans', 'roboto', 'arial', sans-serif;
  font-size: 16px;
  margin: 0;
  padding-bottom: 120px;
  scroll-behavior: smooth;
}

.page-content-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.page-content-row.text-container {
  justify-content: space-between;
}

.one-column {
  flex-basis: 50%;
}

.two-column {
  flex: 1 1 0;
}

.chart-wrapper {
  position: relative;
  margin-bottom: 60px;
  min-height: 360px;
}

.text-section {
  padding: 0 12px;
  line-height: 150%;
}

.text-section > ul > li {
  margin-bottom: 6px;
}

.anchor {
  padding-top: 64px;
  margin-top: -64px;
}

hr {
  margin-bottom: 32px;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  margin: 0;
  font-size: 20px;
}

#overview-table {
  width: 100%;
  margin-top: 16px;
}

#ban-pairs-table-percent {
  margin-bottom: 32px;
}

.tabulator-row.light-yellow {
  background-color: #fdf6e3;
}

.tabulator-row.dark-yellow {
  background-color: #eee8d5;
}

#other-stats {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#other-stats > span {
  margin: 0 12px;
}

#jumbo-banner {
  background-image: url("../images/bg_ps2_v2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 240px;
  margin-top: -16px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#jumbo-banner h1 {
  color: white;
  font-weight: bold;
  font-size: 3em;  
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

@media (max-width: 767px) {
  .chart-wrapper {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .text-section {
    flex-basis: 100%;
    flex-grow: 1;
    margin: 0;
    margin-right: 12px;
  }
  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal;
  }
  #jumbo-banner h1 {
    font-size: 2.4em;
  }
  p {
  max-width: 88vw;
  }
}

@media (min-width: 768px) {
  .page-content-row {
    max-width: 1200px;
    margin: 0 auto;
  }
  hr {
    max-width: 1200px;
  }
  .one-column {
    flex-basis: 600px;
  }
}