body {
  font-family: 'noto sans', 'roboto', 'arial', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'roboto', 'source sans pro', 'noto sans', sans-serif;
  font-size: 4em;
  text-align: center;
}

.page-content-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#stages-general {
  width: 100%;
}

.tabulator-row.light-yellow {
  background-color: #fdf6e3;
}

.tabulator-row.dark-yellow {
  background-color: #eee8d5;
}

.chart-wrapper {
  margin-bottom: 60px;
  min-height: 360px;
}

.one-column {
  flex-basis: 50%;
}

.two-column {
  flex: 1 1 0;
}

@media (max-width: 767px) {
  .chart-wrapper {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal;
  }
}

@media (min-width: 768px) {
  .page-content-row, hr {
    max-width: 1200px;
    margin: 0 auto;
  }
  .one-column {
    flex-basis: 600px;
  }
}